[Desktop Entry]
Type=Application
Name=ML4W Dotfiles Settings App
Exec=/home/silic0n/.config/ml4w/apps/ML4W_Dotfiles_Settings-x86_64.AppImage
Icon=/home/silic0n/.config/ml4w/apps/ml4w-dotfiles-settings.png
Terminal=false
Categories=Utility